In [1]:
#Import Dependencies
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.types import String

In [2]:
#Loading CSV files
data = "Resources/listings 2.csv"

In [3]:
#CSV to DataFrame
data_df = pd.read_csv(data, low_memory=False)
data_df.head()

FileNotFoundError: [Errno 2] File b'data/Resources/listings 2.csv' does not exist: b'data/Resources/listings 2.csv'

In [4]:
#getting columns' names for data set selection
data_df.columns.tolist()

NameError: name 'data_df' is not defined

In [7]:
#Selecting colums for a new data frame
mapping_select = ["id", "name", "neighbourhood_cleansed","latitude","longitude","room_type","minimum_maximum_nights","license"]
#Making a copy of the new data set
mapping_data= data_df[mapping_select].copy()
mapping_data

,id,name,neighbourhood_cleansed,latitude,longitude,room_type,minimum_maximum_nights,license
0,958,"Bright, Modern Garden Unit - 1BR/1B",Western Addition,37.769310,-122.433860,Entire home/apt,30,STR-0001256
1,5858,Creative Sanctuary,Bernal Heights,37.745110,-122.421020,Entire home/apt,60,NaN
2,7918,A Friendly Room - UCSF/USF - San Francisco,Haight Ashbury,37.765550,-122.452130,Private room,60,NaN
3,8142,Friendly Room Apt. Style -UCSF/USF - San Franc...,Haight Ashbury,37.765550,-122.452130,Private room,90,NaN
4,8339,Historic Alamo Square Victorian,Western Addition,37.775250,-122.436370,Entire home/apt,111,STR-0000264
...,...,...,...,...,...,...,...,...
8567,42888879,Spacious Queen Room in NOPA,Haight Ashbury,37.775225,-122.447786,Private room,365,NaN
8568,42891188,One Bedroom Apartment near Rincon Center,Financial District,37.792271,-122.391566,Entire home/apt,1125,NaN
8569,42893191,908. Co-living | Private room,Russian Hill,37.797580,-122.413360,Private room,1125,NaN
8570,42893565,908. Co-living | Private room,Nob Hill,37.796669,-122.412140,Private room,1125,NaN
8571,42893935,908. Co-living | Private room with a bathroom,Russian Hill,37.797580,-122.413360,Private room,1125,NaN

In [8]:
#Checking data types of each column
mapping_data.dtypes

id                          int64
name                       object
neighbourhood_cleansed     object
latitude                  float64
longitude                 float64
room_type                  object
minimum_maximum_nights      int64
license                    object
dtype: object

In [9]:
#Pulling and counting unique values in room_type column
mapping_data.room_type.value_counts()

Entire home/apt    5065
Private room       3094
Shared room         313
Hotel room          100
Name: room_type, dtype: int64

In [10]:
#Dropping dublicates in ID column
mapping_data.drop_duplicates("id", inplace=True)
#Dropping rows with "Hotel room" value in room_type, because we want to analyze privetly owned properties managed by a host
mapping_df = mapping_data[mapping_data.room_type != 'Hotel room']
mapping_df

,id,name,neighbourhood_cleansed,latitude,longitude,room_type,minimum_maximum_nights,license
0,958,"Bright, Modern Garden Unit - 1BR/1B",Western Addition,37.769310,-122.433860,Entire home/apt,30,STR-0001256
1,5858,Creative Sanctuary,Bernal Heights,37.745110,-122.421020,Entire home/apt,60,NaN
2,7918,A Friendly Room - UCSF/USF - San Francisco,Haight Ashbury,37.765550,-122.452130,Private room,60,NaN
3,8142,Friendly Room Apt. Style -UCSF/USF - San Franc...,Haight Ashbury,37.765550,-122.452130,Private room,90,NaN
4,8339,Historic Alamo Square Victorian,Western Addition,37.775250,-122.436370,Entire home/apt,111,STR-0000264
...,...,...,...,...,...,...,...,...
8567,42888879,Spacious Queen Room in NOPA,Haight Ashbury,37.775225,-122.447786,Private room,365,NaN
8568,42891188,One Bedroom Apartment near Rincon Center,Financial District,37.792271,-122.391566,Entire home/apt,1125,NaN
8569,42893191,908. Co-living | Private room,Russian Hill,37.797580,-122.413360,Private room,1125,NaN
8570,42893565,908. Co-living | Private room,Nob Hill,37.796669,-122.412140,Private room,1125,NaN
8571,42893935,908. Co-living | Private room with a bathroom,Russian Hill,37.797580,-122.413360,Private room,1125,NaN

In [11]:
#Dropping rows with "License not needed per OSTR" value in license
mapping_df_2 = mapping_df[mapping_df.license != 'License not needed per OSTR']
mapping_df_2

,id,name,neighbourhood_cleansed,latitude,longitude,room_type,minimum_maximum_nights,license
0,958,"Bright, Modern Garden Unit - 1BR/1B",Western Addition,37.769310,-122.433860,Entire home/apt,30,STR-0001256
1,5858,Creative Sanctuary,Bernal Heights,37.745110,-122.421020,Entire home/apt,60,NaN
2,7918,A Friendly Room - UCSF/USF - San Francisco,Haight Ashbury,37.765550,-122.452130,Private room,60,NaN
3,8142,Friendly Room Apt. Style -UCSF/USF - San Franc...,Haight Ashbury,37.765550,-122.452130,Private room,90,NaN
4,8339,Historic Alamo Square Victorian,Western Addition,37.775250,-122.436370,Entire home/apt,111,STR-0000264
...,...,...,...,...,...,...,...,...
8567,42888879,Spacious Queen Room in NOPA,Haight Ashbury,37.775225,-122.447786,Private room,365,NaN
8568,42891188,One Bedroom Apartment near Rincon Center,Financial District,37.792271,-122.391566,Entire home/apt,1125,NaN
8569,42893191,908. Co-living | Private room,Russian Hill,37.797580,-122.413360,Private room,1125,NaN
8570,42893565,908. Co-living | Private room,Nob Hill,37.796669,-122.412140,Private room,1125,NaN
8571,42893935,908. Co-living | Private room with a bathroom,Russian Hill,37.797580,-122.413360,Private room,1125,NaN

In [12]:
#Dropping rows with "Licensed Hotel/B&B" value in license
mapping_df_2 = mapping_df_2[mapping_df_2.license != 'Licensed Hotel/B&B']
mapping_df_2

,id,name,neighbourhood_cleansed,latitude,longitude,room_type,minimum_maximum_nights,license
0,958,"Bright, Modern Garden Unit - 1BR/1B",Western Addition,37.769310,-122.433860,Entire home/apt,30,STR-0001256
1,5858,Creative Sanctuary,Bernal Heights,37.745110,-122.421020,Entire home/apt,60,NaN
2,7918,A Friendly Room - UCSF/USF - San Francisco,Haight Ashbury,37.765550,-122.452130,Private room,60,NaN
3,8142,Friendly Room Apt. Style -UCSF/USF - San Franc...,Haight Ashbury,37.765550,-122.452130,Private room,90,NaN
4,8339,Historic Alamo Square Victorian,Western Addition,37.775250,-122.436370,Entire home/apt,111,STR-0000264
...,...,...,...,...,...,...,...,...
8567,42888879,Spacious Queen Room in NOPA,Haight Ashbury,37.775225,-122.447786,Private room,365,NaN
8568,42891188,One Bedroom Apartment near Rincon Center,Financial District,37.792271,-122.391566,Entire home/apt,1125,NaN
8569,42893191,908. Co-living | Private room,Russian Hill,37.797580,-122.413360,Private room,1125,NaN
8570,42893565,908. Co-living | Private room,Nob Hill,37.796669,-122.412140,Private room,1125,NaN
8571,42893935,908. Co-living | Private room with a bathroom,Russian Hill,37.797580,-122.413360,Private room,1125,NaN

In [16]:
#Converting all lowercase characters in "license" column into uppercase characters for checking values to 
#determine legal/illigal status
mapping_df_2['license'].str.upper()
mapping_df_2

,id,name,neighbourhood_cleansed,latitude,longitude,room_type,minimum_maximum_nights,license
0,958,"Bright, Modern Garden Unit - 1BR/1B",Western Addition,37.769310,-122.433860,Entire home/apt,30,STR-0001256
1,5858,Creative Sanctuary,Bernal Heights,37.745110,-122.421020,Entire home/apt,60,NaN
2,7918,A Friendly Room - UCSF/USF - San Francisco,Haight Ashbury,37.765550,-122.452130,Private room,60,NaN
3,8142,Friendly Room Apt. Style -UCSF/USF - San Franc...,Haight Ashbury,37.765550,-122.452130,Private room,90,NaN
4,8339,Historic Alamo Square Victorian,Western Addition,37.775250,-122.436370,Entire home/apt,111,STR-0000264
...,...,...,...,...,...,...,...,...
8567,42888879,Spacious Queen Room in NOPA,Haight Ashbury,37.775225,-122.447786,Private room,365,NaN
8568,42891188,One Bedroom Apartment near Rincon Center,Financial District,37.792271,-122.391566,Entire home/apt,1125,NaN
8569,42893191,908. Co-living | Private room,Russian Hill,37.797580,-122.413360,Private room,1125,NaN
8570,42893565,908. Co-living | Private room,Nob Hill,37.796669,-122.412140,Private room,1125,NaN
8571,42893935,908. Co-living | Private room with a bathroom,Russian Hill,37.797580,-122.413360,Private room,1125,NaN

In [17]:
#Filtering data set by  "Entire home/apt" value in "room_type" column
mapping_new = mapping_df_2.loc[mapping_df_2['room_type'] == "Entire home/apt"]
mapping_new

,id,name,neighbourhood_cleansed,latitude,longitude,room_type,minimum_maximum_nights,license
0,958,"Bright, Modern Garden Unit - 1BR/1B",Western Addition,37.769310,-122.433860,Entire home/apt,30,STR-0001256
1,5858,Creative Sanctuary,Bernal Heights,37.745110,-122.421020,Entire home/apt,60,NaN
4,8339,Historic Alamo Square Victorian,Western Addition,37.775250,-122.436370,Entire home/apt,111,STR-0000264
7,10251,Victorian Suite in Inner Mission,Mission,37.758310,-122.413860,Entire home/apt,60,STR-0001558
8,10578,Classic Nob Hill Studio - Roof Deck,Nob Hill,37.791430,-122.415440,Entire home/apt,180,NaN
...,...,...,...,...,...,...,...,...
8560,42877943,Comfort in the heart of San Francisco!,Financial District,37.790960,-122.392890,Entire home/apt,1125,NaN
8561,42878952,One Bedroom in the Heart of SF!,Financial District,37.791210,-122.391270,Entire home/apt,1125,NaN
8562,42880113,"Crisp SoMa 2BR w/ Gym, Courtyard, walk to Uber...",South of Market,37.777760,-122.415980,Entire home/apt,1125,NaN
8563,42881117,Newly Remodeled Mission Flat,Mission,37.750808,-122.407721,Entire home/apt,1125,NaN
8568,42891188,One Bedroom Apartment near Rincon Center,Financial District,37.792271,-122.391566,Entire home/apt,1125,NaN

In [25]:
#Adding "illigal" column to fill in after checking "for-loop" condotions in each row of the data
mapping_new['illegal'] = ''
mapping_new

/Users/igorpyanin/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,id,name,neighbourhood_cleansed,latitude,longitude,room_type,minimum_maximum_nights,license,illegal
0,958,"Bright, Modern Garden Unit - 1BR/1B",Western Addition,37.769310,-122.433860,Entire home/apt,30,STR-0001256,
1,5858,Creative Sanctuary,Bernal Heights,37.745110,-122.421020,Entire home/apt,60,NaN,
4,8339,Historic Alamo Square Victorian,Western Addition,37.775250,-122.436370,Entire home/apt,111,STR-0000264,
7,10251,Victorian Suite in Inner Mission,Mission,37.758310,-122.413860,Entire home/apt,60,STR-0001558,
8,10578,Classic Nob Hill Studio - Roof Deck,Nob Hill,37.791430,-122.415440,Entire home/apt,180,NaN,
...,...,...,...,...,...,...,...,...,...
8560,42877943,Comfort in the heart of San Francisco!,Financial District,37.790960,-122.392890,Entire home/apt,1125,NaN,
8561,42878952,One Bedroom in the Heart of SF!,Financial District,37.791210,-122.391270,Entire home/apt,1125,NaN,
8562,42880113,"Crisp SoMa 2BR w/ Gym, Courtyard, walk to Uber...",South of Market,37.777760,-122.415980,Entire home/apt,1125,NaN,
8563,42881117,Newly Remodeled Mission Flat,Mission,37.750808,-122.407721,Entire home/apt,1125,NaN,
8568,42891188,One Bedroom Apartment near Rincon Center,Financial District,37.792271,-122.391566,Entire home/apt,1125,NaN,

In [32]:
#For-loop conditions which determine legal/illigal status of listed properties in San Francisco county
for i in range(len(mapping_new)) : 
    licence =  mapping_new.iloc[i,7] #assigning licence string into a variable
    #print(licence)
    #print(mapping_new.iloc[i,6])
    if isinstance(licence, float) == False:
        if (mapping_new.iloc[i,6] <= 90 and licence.startswith('STR')) :
            mapping_new.iloc[i,8]= 'legal'
            #add 'legal' to the illegal column if min-max rental nights equal or less then 90 night and property has license # starting with "STR"
        else:
            mapping_new.iloc[i,8]= 'illegal'
            #add 'illegal' to the legal column if min-max rental nights more then 90 or property has no license # starting with "STR"
    else: 
        mapping_new.iloc[i,8]= 'illegal'

In [33]:
#checking Data Frame
mapping_new

,id,name,neighbourhood_cleansed,latitude,longitude,room_type,minimum_maximum_nights,license,illegal
0,958,"Bright, Modern Garden Unit - 1BR/1B",Western Addition,37.769310,-122.433860,Entire home/apt,30,STR-0001256,legal
1,5858,Creative Sanctuary,Bernal Heights,37.745110,-122.421020,Entire home/apt,60,NaN,illegal
4,8339,Historic Alamo Square Victorian,Western Addition,37.775250,-122.436370,Entire home/apt,111,STR-0000264,illegal
7,10251,Victorian Suite in Inner Mission,Mission,37.758310,-122.413860,Entire home/apt,60,STR-0001558,legal
8,10578,Classic Nob Hill Studio - Roof Deck,Nob Hill,37.791430,-122.415440,Entire home/apt,180,NaN,illegal
...,...,...,...,...,...,...,...,...,...
8560,42877943,Comfort in the heart of San Francisco!,Financial District,37.790960,-122.392890,Entire home/apt,1125,NaN,illegal
8561,42878952,One Bedroom in the Heart of SF!,Financial District,37.791210,-122.391270,Entire home/apt,1125,NaN,illegal
8562,42880113,"Crisp SoMa 2BR w/ Gym, Courtyard, walk to Uber...",South of Market,37.777760,-122.415980,Entire home/apt,1125,NaN,illegal
8563,42881117,Newly Remodeled Mission Flat,Mission,37.750808,-122.407721,Entire home/apt,1125,NaN,illegal
8568,42891188,One Bedroom Apartment near Rincon Center,Financial District,37.792271,-122.391566,Entire home/apt,1125,NaN,illegal

In [34]:
#Creating output csv file 
#This csv file will be uploaded to a sqlite database via DB Browser
mapping_new.to_csv("Output/mapping_data.csv", index = False)

In [35]:
#Saving priviously created data frame to new variable 
roomtype_df = mapping_df_2
roomtype_df

,id,name,neighbourhood_cleansed,latitude,longitude,room_type,minimum_maximum_nights,license
0,958,"Bright, Modern Garden Unit - 1BR/1B",Western Addition,37.769310,-122.433860,Entire home/apt,30,STR-0001256
1,5858,Creative Sanctuary,Bernal Heights,37.745110,-122.421020,Entire home/apt,60,NaN
2,7918,A Friendly Room - UCSF/USF - San Francisco,Haight Ashbury,37.765550,-122.452130,Private room,60,NaN
3,8142,Friendly Room Apt. Style -UCSF/USF - San Franc...,Haight Ashbury,37.765550,-122.452130,Private room,90,NaN
4,8339,Historic Alamo Square Victorian,Western Addition,37.775250,-122.436370,Entire home/apt,111,STR-0000264
...,...,...,...,...,...,...,...,...
8567,42888879,Spacious Queen Room in NOPA,Haight Ashbury,37.775225,-122.447786,Private room,365,NaN
8568,42891188,One Bedroom Apartment near Rincon Center,Financial District,37.792271,-122.391566,Entire home/apt,1125,NaN
8569,42893191,908. Co-living | Private room,Russian Hill,37.797580,-122.413360,Private room,1125,NaN
8570,42893565,908. Co-living | Private room,Nob Hill,37.796669,-122.412140,Private room,1125,NaN
8571,42893935,908. Co-living | Private room with a bathroom,Russian Hill,37.797580,-122.413360,Private room,1125,NaN

In [55]:
#Making a copy of a data set
room_type_df= mapping_df_2.copy()
#Grouping data by "room_type" and counting values
roomtype_new = room_type_df.groupby('room_type')['id'].count()
roomtype_new

room_type
Entire home/apt    4822
Private room       2770
Shared room         284
Name: id, dtype: int64

In [49]:
#Creating new data frame using groupby results
room_type_df = pd.DataFrame(roomtype_new)
#Renaming column "id" to "count"
room_type_df = room_type_df.rename(columns={ "id": "count"})
#room_type_df = room_type_df.reset_index()
room_type_df

                 count
room_type
Entire home/apt   4822
Private room      2770
Shared room        284

In [50]:
#Calculating sum of all room types to use for percentage calculation
total_count = sum(room_type_df["count"])
#Creating variable to hold percentage data and calculating percentage 
prcnt = (room_type_df["count"])/total_count*100

In [51]:
#Adding "percentage" column to Data Ftame in % format
room_type_df['percentage'] = prcnt.map('{:,.2f}%'.format)
room_type_df

                 count percentage
room_type
Entire home/apt   4822     61.22%
Private room      2770     35.17%
Shared room        284      3.61%

In [52]:
##This csv file will be uploaded to a sqlite database via DB Browser
room_type_df.to_csv("Output/grouped_roomtype.csv")

In [56]:
#Making a copy of a data set
legal_df= mapping_new.copy()
#Grouping data by legal/illigal status and counting values
legal_df = legal_df.groupby('illegal')['id'].count()
legal_df

illegal
illegal    3846
legal       976
Name: id, dtype: int64

In [57]:
#Creating new data frame using groupby results
leg_illeg_df = pd.DataFrame(legal_df)
#Renaming column "id" to "count"
leg_illeg_df = leg_illeg_df.rename(columns={ "id": "count"})
leg_illeg_df

         count
illegal
illegal   3846
legal      976

In [59]:
#Calculating sum of all properties to use for percentage calculation
total_count_2 = sum(leg_illeg_df["count"])
#Creating variable to hold percentage data and calculating percentage 
prcnt_2 = (leg_illeg_df["count"])/total_count_2*100

In [61]:
#Adding "percentage" column to Data Ftame in % format
leg_illeg_df['percentage'] = prcnt_2.map('{:,.2f}%'.format)
leg_illeg_df

         count percentage
illegal
illegal   3846     79.76%
legal      976     20.24%

In [62]:
##This csv file will be uploaded to a sqlite database via DB Browser
leg_illeg_df.to_csv("Output/legal.csv")

In [64]:
#Making a copy of a data set
nh= mapping_df.copy()
#Grouping values by "neighbourhood_cleansed" and "room_type" and counting properties by room type
nh = nh.groupby(["neighbourhood_cleansed","room_type"])["room_type"].count()
#Converting groupby results into Data Frame
nh_df = pd.DataFrame(nh)
#Renaming column "room_type" to "count"
nh_df = nh_df.rename(columns={ "room_type": "count"})
nh_df

                                        count
neighbourhood_cleansed room_type
Bayview                Entire home/apt     80
                       Private room       145
                       Shared room          2
Bernal Heights         Entire home/apt    266
                       Private room       135
...                                       ...
West of Twin Peaks     Entire home/apt     73
                       Private room        73
Western Addition       Entire home/apt    384
                       Private room       215
                       Shared room         26

[97 rows x 1 columns]

In [65]:
#Using pivot function to restructure Data Frame
table = pd.pivot_table(nh_df, values='count',
                    columns="room_type", index= "neighbourhood_cleansed")
#Changing NaN value to 0
table= table.fillna(0)
#Changing floats to int 
table["Entire home/apt"] = table["Entire home/apt"].astype(int)
table["Shared room"] = table["Shared room"].astype(int)
table["Private room"] = table["Private room"].astype(int)
#Renaming columns
table = table.rename(columns={ "Entire home/apt": "entire_house",
                               "Private room": "private_room",
                               "Shared room": "shared_room"
                             })
#sum_ent=(table["Entire home/apt"]).sum()
#sum_pr=(table["Private room"]).sum()
#sum_sh=(table["Shared room"]).sum()
#sum_ttl = sum_ent+sum_pr+sum_sh
#entire_house, private_room, shared_room
table

room_type               entire_house  private_room  shared_room
neighbourhood_cleansed
Bayview                           80           145            2
Bernal Heights                   266           135            1
Castro/Upper Market              297           147            2
Chinatown                        100            44            9
Crocker Amazon                    22            28            1
Diamond Heights                    8             8            0
Downtown/Civic Center            346           361           30
Excelsior                         79           100            1
Financial District               158            49           15
Glen Park                         50            12            0
Golden Gate Park                   4             2            0
Haight Ashbury                   226           129           53
Inner Richmond                   134            82           25
Inner Sunset                     112            51            4
Lakeshore                         25            37            1
Marina                           141            44            0
Mission                          454           276           23
Nob Hill                         192           143           18
Noe Valley                       216           101            1
North Beach                      120            68           37
Ocean View                        54            74            8
Outer Mission                     76            93            4
Outer Richmond                   104            66            2
Outer Sunset                     157           157            6
Pacific Heights                  129            44            0
Parkside                          79            59            6
Potrero Hill                     168            82            2
Presidio                           0             1            0
Presidio Heights                  21             3            0
Russian Hill                     155            47            7
Seacliff                          12             8            0
South of Market                  532           157           29
Treasure Island/YBI                1             0            0
Twin Peaks                        48            25            0
Visitacion Valley                 42            28            0
West of Twin Peaks                73            73            0
Western Addition                 384           215           26

In [66]:
##This csv file will be uploaded to a sqlite database via DB Browser
table.to_csv("Output/grouped_neighborhoods.csv")